.landing {
    height: calc(100vh - 50px);
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: center;
}

.author-image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.post-link {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.post-link-flex {
    display: flex;
    justify-content: space-around;
}

.post-link img {
    height: 75px;
    border-radius: 10px;
}

.post-info {
    text-align: left;
}

.post-info h4, .post-info p {
    margin: 5px 0;
}

#description {
    color: gray;
}