.main-header {
    height: 50px;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    background: #293241;
    color: white;
    box-shadow: 0 2px 2px gray;
}